.ride-text {
  font-size: 40px;
  font-family: arial;
  margin-bottom: 25px;
}

input {
  width: 400px;
  display: block;
  margin-bottom: 7px;
  border: none;
  background-color: rgba(176, 173, 173, 0.199);
  font-size: 17px;
  font-family: arial;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.request-button {
  background-color: black;
  color: whitesmoke;
  width: 150px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
  border: none;
  margin-right: 20px;
  margin-top: 30px;
}

.later-button {
  width: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  border: none;
}
